<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-body">
      <section id="simple-user-cards" class="row justify-content-center">
        <div class="col-md-6 col-12">
          <div class="card">
            <div class="card-body">
              <form [formGroup]="profileInfo" (ngSubmit)="onProfileSubmit()">
                <div class="form-body">
                  <h4 class="form-section">
                    <i class="feather ft-user"></i> Personal Info
                  </h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="profileinput1">Name</label>
                        <input
                          type="text"
                          id="profileinput1"
                          class="form-control"
                          placeholder="Name"
                          value="Mitesh Kulkarni"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="profileinput2">Company</label>
                        <input
                          type="text"
                          id="profileinput2"
                          class="form-control"
                          value="ABFRL"
                          placeholder="Company"
                          readonly
                        />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="profileinput3">E-mail</label>
                        <input
                          type="text"
                          id="profileinput3"
                          class="form-control"
                          value="mitesh.kulkarni@abfrl.com"
                          placeholder="E-mail"
                          readonly
                        />
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="profileinput4">Designation</label>
                        <input
                          type="text"
                          id="profileinput4"
                          class="form-control"
                          placeholder="Designation"
                          readonly
                          value="Category Manager - Knits"
                        />
                      </div>
                    </div>
                  </div>
                  <h4 class="form-section">
                    <i class="la la-key"></i> Set new password
                  </h4>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="profileinput5">Old password</label>
                        <input
                          type="password"
                          id="profileinput5"
                          formControlName="oldPassword"
                          class="form-control"
                          placeholder="Enter old password"
                          [ngClass]="{
                            'is-invalid': submitted && f.oldPassword.errors
                          }"
                        />
                        <small
                          class="form-text text-muted danger"
                          *ngIf="submitted && f.oldPassword.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.oldPassword.errors.required">
                            Old password is required
                          </div>
                        </small>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="profileinput6">New password</label>
                        <input
                          type="password"
                          id="profileinput6"
                          class="form-control"
                          formControlName="newPassword"
                          placeholder="Enter new password"
                          [ngClass]="{
                            'is-invalid': submitted && f.newPassword.errors
                          }"
                        />
                        <small
                          class="form-text text-muted danger"
                          *ngIf="submitted && f.newPassword.errors"
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.newPassword.errors.required">
                            New password is required
                          </div>
                        </small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <button type="submit" class="btn btn-primary">
                    <i class="la la-check"></i> Update
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
