/* Datatable CSS */
:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-header
  .datatable-header-cell
  .datatable-header-cell-label {
  font-family: inherit;
  font-size: medium;
  font-weight: bold;
  color: #6b6f82;
}
:host ::ng-deep .ngx-datatable .datatable-row-center,
.ngx-datatable .datatable-row-group,
.ngx-datatable .datatable-row-right {
  position: relative;
  height: 50px !important;
}

:host ::ng-deep .datatable-icon-right:before {
  font-family: "icofont";
  font-style: normal;
}

:host ::ng-deep .datatable-icon-skip:before {
  font-family: "icofont";
  font-style: normal;
}

:host ::ng-deep .datatable-icon-left:before {
  font-family: "icofont";
  font-style: normal;
}

:host ::ng-deep .datatable-icon-left:before {
  content: "\2039";
  font-size: x-large;
}

:host ::ng-deep .datatable-icon-prev:before {
  content: "\00AB";
  font-size: x-large;
}

:host ::ng-deep .datatable-icon-right:before {
  content: "\203A";
  font-size: x-large;
}

:host ::ng-deep .datatable-icon-skip:before {
  content: "\00BB";
  font-size: x-large;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-skip {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev {
  font-size: 16px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #d4d2e7;
}

:host
  ::ng-deep
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active
  a,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  ul[_ngcontent-c11]
  li[_ngcontent-c11]:not(.disabled):hover
  a[_ngcontent-c11] {
  background-color: #d4d2e7;
  font-weight: bold;
  font-size: larger;
}

:host ::ng-deep .ngx-datatable.bootstrap .datatable-footer .datatable-pager a {
  height: 32px;
  min-width: 34px;
  line-height: 22px;
  padding: 0;
  border-radius: 3px;
  margin: 0 3px;
  text-align: center;
  vertical-align: top;
  padding-top: 3px;
  text-decoration: none;
  vertical-align: bottom;
  color: #7c8091;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 14px;
  line-height: 9px;
  padding: 0px 08px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-left,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-right,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-skip,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  .datatable-icon-prev,
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-right[_ngcontent-c11],
.ngx-datatable.bootstrap[_ngcontent-c11]
  .datatable-footer[_ngcontent-c11]
  .datatable-pager[_ngcontent-c11]
  .datatable-icon-prev[_ngcontent-c11] {
  font-size: 0px;
  line-height: 22px;
  padding: 0px 09px;
  background-color: #ffffff;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a {
  background-color: #545454;
  font-weight: bold;
  color: white;
}

:host
  ::ng-deep
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled).active
  a,
.ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a {
  background-color: #545454;
  font-weight: bold;
  color: white;
}

:host ::ng-deep .ngx-datatable.bootstrap .datatable-footer {
  background: #727e8e;
  color: #ededed;
  margin-top: -1px;
  /* overflow: inherit; */
}

:host ::ng-deep .ngx-datatable.bootstrap .datatable-header {
  font-weight: bold;
  height: unset !important;
  overflow: inherit;
}

:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager {
  flex: 0 0 0%;
}

:host ::ng-deep .ngx-datatable .datatable-footer .datatable-pager .pager {
  display: flex;
}

:host ::ng-deep .block-ui-wrapper {
  background: rgba(255, 249, 249, 0.5) !important;
}
:host
  ::ng-deep
  .ngx-datatable
  .datatable-footer
  .selected-count
  .datatable-pager {
  flex: 0 0 0%;
}

:host ::ng-deep .ngx-datatable {
  display: -webkit-box;
}
.depth-expand-btn {
  background-color: transparent;
  border: 0px;
  font-size: 16px;
  color: #000;
  margin: -5px 0px 0px;
}
.depth-expand-btn:focus {
  outline: 0;
}
::ng-deep .progress {
  display: flex;
  height: 8px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #eee;
  border-radius: 8px;
  margin: 5px 0px;
}

.column-setting .open-left .dropdown-item:focus {
  outline: 0;
}
.column-setting .open-left .dropdown-item.active,
.column-setting .open-left .dropdown-item:active {
  background-color: #f4f5fa !important;
  color: #2a2e30 !important;
}
.column-setting .switchery {
  margin-right: 10px !important;
}
::ng-deep .column-setting .switchery .switch.switch-small small {
  width: 15px !important;
  height: 15px !important;
  right: calc(100% - 16px);
}
::ng-deep .column-setting .switchery .switch.switch-small {
  height: 15px !important;
  border-radius: 15px !important;
  vertical-align: text-bottom;
}
::ng-deep .column-setting .switchery .switch.checked small {
  right: 0 !important;
}
.ibtt-btns .dropdown .dropdown-menu {
  max-height: 250px !important;
  overflow-y: scroll !important;
}
@media (max-width: 767px) {
  .depth-btns .w-50 {
    margin: 5px 0px;
    text-align: left !important;
  }
  .depth-btns .ml-1 {
    margin-left: 0px !important;
    margin-right: 10px !important;
  }
}
.add-cluster.left a:before,
.add-cluster.left a:after {
  top: 8px !important;
}
table th,
table td {
  white-space: nowrap !important;
}
table.dataTable thead .sorting_asc {
  background-image: url(../../../assets/images/Group-1.png) !important;
}
table.dataTable thead .sorting_desc {
  background-image: url(../../../assets/images/Group-2.png) !important;
}
::ng-deep .dataTables_wrapper .dataTables_length select {
  padding: 4px 4px 4px 0px !important;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 40px;
  align-items: center;
  min-width: 70px;
  margin: 0px 5px;
}
::ng-deep .dataTables_wrapper .dataTables_filter input {
  margin-left: 10px !important;
}
::ng-deep .dataTables_filter input {
  padding: 0px 10px !important;
  color: #333;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #ccc;
  min-height: 40px;
  align-items: center;
  min-width: 100px;
}
::ng-deep .dataTables_wrapper .dataTables_length select:focus,
::ng-deep .dataTables_filter input {
  outline: 0px !important;
}
::ng-deep .dt-buttons .buttons-collection {
  border-color: #545766 !important;
  background-color: #6b6f82 !important;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: 0px 24px;
  font-size: 1rem;
  line-height: unset;
  min-height: 40px;
  border-radius: 0.25rem;
  margin-left: 10px !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-bottom: 15px !important;
}
::ng-deep .dataTables_wrapper .dataTables_length,
::ng-deep .dataTables_wrapper .dataTables_filter,
::ng-deep .dataTables_wrapper .dataTables_info,
::ng-deep .dataTables_wrapper .dataTables_processing,
::ng-deep .dataTables_wrapper .dataTables_paginate {
  color: #464855 !important;
}
::ng-deep .dt-button.buttons-columnVisibility {
  background-color: transparent;
  background: transparent;
  filter: none !important;
  box-shadow: none !important;
  border: 0px !important;
  text-align: left;
  padding: 4px 10px;
}
::ng-deep .dt-button.buttons-columnVisibility.active {
  background-color: transparent !important;
  background: transparent !important;
  filter: none;
  box-shadow: none;
}
::ng-deep .dt-button.buttons-columnVisibility.active::after {
  content: "\2713" !important;
  float: right !important;
}
::ng-deep .dt-button-collection {
  padding: 0px !important;
  min-width: 160px !important;
  max-height: 250px !important;
  overflow-y: auto !important;
}
::ng-deep .dt-button-background {
  background: transparent !important;
}
::ng-deep .dt-button.buttons-columnVisibility:hover {
  background-color: rgb(255 210 210 / 47%) !important;
  background: rgb(255 210 210 / 47%) !important;
}
