<ng-container mCardBody>
  <ng-container mCardBody>
    <div class="btn-group depth-btns ibtt-btns d-block mb-1 pt-2">
      <div
        ngbDropdown
        class="d-inline-block w-50 column-setting"
        [autoClose]="false"
      >
        <h2 class="card-title">Reviewing Buffer</h2>
        <!-- <button
          class="btn btn-secondary dropdown-toggle"
          id="dropdownBasic1"
          ngbDropdownToggle
          title="Column Setting"
        >
          Column Setting
        </button>
        <div
          ngbDropdownMenu
          class="open-left arrow"
          aria-labelledby="dropdownBasic1"
        >
          <button class="dropdown-item" *ngFor="let col of columns">
            <ui-switch
              class="switchery"
              switchColor="white"
              color="rgb(100, 189, 99)"
              size="small"
              [(ngModel)]="col['status']"
              (ngModelChange)="changeColumnStatus(col.name)"
            >
            </ui-switch>
            {{ col.name }}
          </button>
        </div> -->
      </div>
      <div class="w-50 d-inline-block text-right">
        <button
          type="button"
          class="btn btn-outline-success btn-min-width ml-1"
          title="Approve"
        >
          Approve
        </button>
        <button
          type="button"
          class="btn btn-outline-danger btn-min-width ml-1"
          title="Reject"
        >
          Reject
        </button>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-sm-1 col-md-1">
        <div class="dataTables_filter">
          <ng-select
            class="mb-1"
            [items]="columns"
            [searchable]="false"
            bindLabel="name"
            bindValue="element"
            [(ngModel)]="selectedColumn"
            [clearable]="false"
          >
          </ng-select>
        </div>
      </div>
      <div class="col-sm-9 col-md-9">
        <div class="dataTables_filter">
          <h5>
            Search:<input
              type="text"
              style="
                padding: 4px;
                margin: 0px auto;
                margin-left: 8px;
                width: 200px;
                border-radius: 0.22rem;
                border: 1px solid #babfc7;
              "
              placeholder="Type to filter"
              (keyup)="updatedefaultFilter($event)"
            />
          </h5>
        </div>
      </div>
      <div class="col-sm-1 col-md-1">
        <div class="dataTables_filter text-right" style="line-height: 2.5">
          Per page:
        </div>
      </div>
      <div class="col-sm-1 col-md-1">
        <div class="dataTables_filter">
          <ng-select
            class="mb-1"
            [items]="rowsLimitList"
            [searchable]="false"
            bindLabel="value"
            bindValue="value"
            [(ngModel)]="rowsLimit"
            [clearable]="false"
          >
          </ng-select>
        </div>
      </div>
    </div> -->
    <div class="table table-striped add-rows table-responsive">
      <!-- <ngx-datatable
        #recordTable
        class="bootstrap depth-table"
        [sortType]="SortType"
        [headerHeight]="50"
        [limit]="rowsLimit"
        [footerHeight]="52"
        [rowHeight]="40"
        [rows]="rows"
        [columnMode]="'force'"
        [loadingIndicator]="loadingIndicator"
        [selected]="selected"
        [selectionType]="'checkbox'"
        fxFlex="auto"
        [perfectScrollbar]="config"
      >
        <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
          <ng-template
            ngx-datatable-header-template
            let-value="value"
            let-allRowsSelected="allRowsSelected"
            let-selectFn="selectFn"
          >
            <span class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="selectAll"
                [checked]="allRowsSelected"
                (change)="selectFn(!allRowsSelected)"
              />
              <label class="custom-control-label" for="selectAll"></label>
            </span>
          </ng-template>
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
            let-onCheckboxChangeFn="onCheckboxChangeFn"
            let-isSelected="isSelected"
          >
            <span class="custom-control custom-checkbox">
              <input
                type="checkbox"
                class="custom-control-input"
                id="select{{ rowIndex }}"
                [checked]="isSelected"
                (change)="onCheckboxChangeFn($event)"
              />
              <label
                class="custom-control-label"
                for="select{{ rowIndex }}"
              ></label>
            </span>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
          <ng-template
            ngx-datatable-cell-template
            let-value="value"
            let-row="row"
          >
            <span>
              <button
                class="depth-expand-btn"
                (click)="
                  tableName == 'depth'
                    ? openModal(depthModelContent, '')
                    : tableName == 'width'
                    ? openModal(widthModelContent, row.optionDataList)
                    : tableName == 'ibtt'
                    ? openModal(tableModelContent, row)
                    : ''
                "
                type="button"
              >
                +
              </button>
            </span>
          </ng-template>
        </ngx-datatable-column>

        <ng-container *ngFor="let col of columns">
          <ng-container *ngIf="col['name'] != 'BP'">
            <ngx-datatable-column
              name="{{ col['name'] }}"
              prop="{{ col['element'] }}"
              [flexGrow]="1"
              class="buffer-status"
              *ngIf="hideColumn[col['name']]"
              [sortable]="true"
            >
              <ng-template ngx-datatable-cell-template let-row="row">
                <span>
                  {{ row[col["element"]] != "NULL" ? row[col["element"]] : "" }}
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ng-container>
          <ng-container *ngIf="col['name'] == 'BP'">
            <ngx-datatable-column
              name="{{ col['name'] }}"
              [flexGrow]="1"
              class="buffer-status"
              *ngIf="hideColumn[col['name']]"
            >
              <ng-template let-row="row" ngx-datatable-cell-template>
                <span>
                  <ngb-progressbar
                    type="success"
                    [value]="row.store_site_buffer_Percent"
                  ></ngb-progressbar>
                  {{ row.dbM_Policy }}
                </span>
              </ng-template>
            </ngx-datatable-column>
          </ng-container>
        </ng-container>
        <ngx-datatable-footer>
          <ng-template
            ngx-datatable-footer-template
            let-rowCount="rowCount"
            let-pageSize="pageSize"
            let-selectedCount="selectedCount"
            let-curPage="curPage"
            let-offset="offset"
            let-isVisible="isVisible"
          >
            <div class="page-count">
              <span> {{ selectedCount.toLocaleString() }} Selected / </span>
              {{ rowCount.toLocaleString() }} Total Rows (
              {{ Math.ceil(rowCount / pageSize).toLocaleString() }} Total
              {{ Math.ceil(rowCount / pageSize) == 1 ? "Page" : "Pages" }})
            </div>
            <datatable-pager
              [pagerLeftArrowIcon]="'datatable-icon-left'"
              [pagerRightArrowIcon]="'datatable-icon-right'"
              [pagerPreviousIcon]="'datatable-icon-prev'"
              [pagerNextIcon]="'datatable-icon-skip'"
              [page]="curPage"
              [size]="pageSize"
              [count]="rowCount"
              [hidden]="!(rowCount / pageSize > 1)"
              (change)="table.onFooterPage($event)"
            >
            </datatable-pager>
          </ng-template>
        </ngx-datatable-footer>
      </ngx-datatable> -->
      <table datatable [dtOptions]="dtOptions" class="table-borderless">
        <thead>
          <!-- <tr>
            <th></th>
            <th></th>
            <th *ngFor="let col of columns">
              <input type="text" placeholder="Search {{ col['name'] }}" />
            </th>
          </tr> -->
          <tr>
            <th>
              <span class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="selectAll"
                />
                <label class="custom-control-label" for="selectAll"></label>
              </span>
            </th>
            <th></th>
            <ng-container *ngFor="let col of columns">
              <th *ngIf="col['name'] != 'BP'">
                {{ col.name }}
              </th>
              <th *ngIf="col['name'] == 'BP'" style="width: 135px">
                {{ col.name }}
              </th>
            </ng-container>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of rows; let i = index">
            <td>
              <span class="custom-control custom-checkbox">
                <input
                  type="checkbox"
                  class="custom-control-input"
                  id="select{{ i }}"
                />
                <label class="custom-control-label" for="select{{ i }}"></label>
              </span>
            </td>
            <td>
              <span>
                <button
                  class="depth-expand-btn"
                  (click)="
                    tableName == 'depth'
                      ? (i + 1) % 2 == 0
                        ? openModal(chartModelContent, i + 1)
                        : openModal(depthModelContent, i + 1)
                      : tableName == 'width'
                      ? openModal(widthModelContent, row.optionDataList)
                      : tableName == 'ibtt'
                      ? openModal(tableModelContent, row)
                      : ''
                  "
                  type="button"
                >
                  +
                </button>
              </span>
            </td>
            <td *ngFor="let col of columns">
              <ng-container
                *ngIf="
                  col['name'] != 'BP' &&
                  col['name'] != 'Buffer Color' &&
                  col['name'] != 'Variety Color'
                "
              >
                {{ row[col["element"]] }}
              </ng-container>
              <ng-container
                *ngIf="col['name'] == 'BP' || col['name'] == 'Buffer Color'"
              >
                <span>
                  <ngb-progressbar
                    [type]="
                      row.store_Virtul_buffer_color == 'Blue'
                        ? 'primary'
                        : row.store_Virtul_buffer_color == 'Green'
                        ? 'success'
                        : row.store_Virtul_buffer_color == 'Yellow'
                        ? 'warning'
                        : row.store_Virtul_buffer_color == 'Red'
                        ? 'danger'
                        : 'secondary'
                    "
                    [value]="row.store_site_buffer_Percent"
                  ></ngb-progressbar>
                </span>
              </ng-container>
              <ng-container *ngIf="col['name'] == 'Variety Color'">
                <span>
                  <ngb-progressbar
                    [type]="
                      row.varietyColour == 'Blue'
                        ? 'primary'
                        : row.varietyColour == 'Green'
                        ? 'success'
                        : row.varietyColour == 'Yellow'
                        ? 'warning'
                        : row.varietyColour == 'Red'
                        ? 'danger'
                        : 'secondary'
                    "
                    [value]="row.varietyPenetration"
                  ></ngb-progressbar>
                </span>
              </ng-container>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </ng-container>
</ng-container>

<ng-template
  class="modal text-left"
  #depthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-sm">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-block mr-2">Category: <span>Category1</span></p>
          <p class="d-block mr-2">Location: <span>WH1</span></p>
          <p class="d-block mr-2">SKU Description: <span>Fabric1</span></p>
          <p class="d-block mr-2">Total length Available: <span>50</span></p>
        </div>
        <div class="col-12">
          <form class="w-100">
            <div class="input-group mb-1">
              <label for="length" class="d-block w-100">Length required</label>
              <input
                type="text"
                class="form-control"
                placeholder="Length required"
                name="length"
                id="length"
              />
            </div>
            <div class="input-group mb-1">
              <label for="comments" class="d-block w-100">Comments</label>
              <textarea
                class="form-control"
                style="resize: none !important"
                id="comments"
                name="comments"
                rows="3"
                placeholder="Comments"
              ></textarea>
            </div>
            <button
              type="button"
              class="btn btn-success btn-min-width float-right"
              title="Submit"
              (click)="d('Cross click')"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<ng-template
  class="modal text-left"
  #widthModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6>Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <p class="d-block mr-2">
            AG: <span>RU-M-FTWR_Work-Lace Up B4.5 k</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">Store: <span>Bangalore Brigade Road</span></p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">
            Total Valid Options available in Origin: <span>5</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="d-block mr-2">Options Required: <span>3</span></p>
        </div>
        <div class="col-12">
          <div class="table table-striped table-bordered add-rows">
            <ngx-datatable
              class="bootstrap depth-table"
              [sortType]="'multi'"
              [headerHeight]="50"
              [limit]="4"
              [footerHeight]="40"
              [rowHeight]="40"
              [rows]="rowWidth"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column name="User Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-row="row"
                  let-rowIndex="rowIndex"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectUser{{ rowIndex }}"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectUser{{ rowIndex }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="System Selection" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  let-value="value"
                  let-row="row"
                  let-rowIndex="rowIndex"
                  let-onCheckboxChangeFn="onCheckboxChangeFn"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectSystem{{ rowIndex }}"
                      [checked]="rowIndex <= 2 ? true : false"
                      (change)="onCheckboxChangeFn($event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectSystem{{ rowIndex }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Modal Stone Name" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.modalStoneName }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Sale Ranking" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.saleRanking }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Origin Stock" [flexGrow]="1">
                <ng-template
                  ngx-datatable-cell-template
                  *ngfor
                  let
                  element
                  of
                  rowsJobs
                >
                  {{ element.originStock }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="col-12 text-right">
        <button
          type="button"
          class="btn btn-success btn-min-width"
          title="Submit"
          (click)="d('Cross click')"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template
  class="modal text-left"
  #tableModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <p class="d-inline-block mr-2">Store: <span>Jayanagar</span></p>
          <p class="d-inline-block mr-2">SKU: <span>SKU0129</span></p>
          <p class="d-inline-block mr-2">Stock Needed: <span>7</span></p>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-12">
              <ng-select
                class="mb-1"
                [items]="clusterSelectArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="Cluster"
                placeholder="Cluster"
              >
              </ng-select>
            </div>
            <!-- <div class="col-12">
              <ng-select
                class="mb-1"
                [items]="priorityArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="Priority"
                placeholder="Priority"
              >
              </ng-select>
            </div> -->
            <div class="col-12">
              <button class="btn btn-primary btn-min-width" type="button">
                Apply
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="collapse-icon accordion-icon-rotate left add-cluster">
            <div class="">
              <a
                data-toggle="collapse"
                class="text-primary"
                (click)="addNewCluster = !addNewCluster"
                [attr.aria-expanded]="addNewCluster"
                aria-controls="addNewCluster"
                >Save New Cluster</a
              >
            </div>
            <div id="addNewCluster" [ngbCollapse]="!addNewCluster">
              <fieldset>
                <div class="input-group" style="margin-top: 5px">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Enter Cluster Name"
                    aria-describedby="button-addon4"
                  />
                  <div class="input-group-append">
                    <button class="btn btn-primary" type="button">Save</button>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="table table-striped table-bordered add-rows mt-2">
            <ngx-datatable
              class="bootstrap"
              [sortType]="'multi'"
              [headerHeight]="50"
              [footerHeight]="0"
              [limit]="15"
              [rowHeight]="50"
              [rows]="clusterDonerData"
              [columnMode]="'force'"
              [loadingIndicator]="loadingIndicator"
              [selected]="selected"
              [selectionType]="'checkbox'"
              fxFlex="auto"
              [perfectScrollbar]="config"
            >
              <ngx-datatable-column [flexGrow]="1" [maxWidth]="40">
                <ng-template
                  ngx-datatable-cell-template
                  let-row="row"
                  let-isSelected="isSelected"
                >
                  <span class="custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="selectRow{{ row.id }}"
                      [checked]="isSelected"
                      (change)="onCheckboxChangeFn(row, $event)"
                    />
                    <label
                      class="custom-control-label"
                      for="selectRow{{ row.id }}"
                    ></label>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Origin Stock</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.originStock }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Replenish</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  <span>
                    <select
                      name=""
                      id=""
                      class="form-control w-50"
                      style="height: 30px"
                      [(ngModel)]="replenishNeeded[row.id]"
                      (change)="changeReplenishNeeded(row.id)"
                      [disabled]="
                        replenishNeeded[row.id] == undefined ||
                        replenishNeeded[row.id] == null
                      "
                    >
                      <option
                        [value]="i"
                        *ngFor="
                          let d of genArray(row.replenish_Needed);
                          let i = index
                        "
                      >
                        {{ i }}
                      </option>
                    </select>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column [flexGrow]="1">
                <ng-template ngx-datatable-header-template>
                  <span>Available Stock</span>
                </ng-template>
                <ng-template let-row="row" ngx-datatable-cell-template>
                  {{ row.available_stock }}
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
        <div class="col-12">
          <div class="text-right">
            <button
              type="button"
              class="btn btn-success btn-min-width ml-1"
              title="Approve"
              (click)="getApproveRejectDepth(1)"
              [disabled]="finalRecommend.length == 0"
            >
              Approve
            </button>
            <!-- <button
              type="button"
              class="btn btn-danger btn-min-width ml-1"
              title="Reject"
              (click)="getApproveRejectDepth(0)"
            >
              Reject
            </button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
