<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">
                Pending decisions based on this selection of products
              </h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row">
                  <div
                    class="col-md-12 col-12 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4 class="font-large-2 text-bold-400">09</h4>
                    <!-- <p class="blue-grey lighten-2 mb-0">Depth</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section id="selection-n-deletion">
      <div class="card px-1">
        <div class="card-header px-0">
          <h2 class="card-title">Lifecycle</h2>
        </div>
        <ng-container mCardBody>
          <ng-container mCardBody>
            <div class="btn-group depth-btns d-block mb-1">
              <div
                ngbDropdown
                class="d-inline-block w-50 column-setting"
                [autoClose]="false"
              >
                <button
                  class="btn btn-secondary dropdown-toggle"
                  id="dropdownBasic1"
                  ngbDropdownToggle
                  title="Column Setting"
                >
                  Column Setting
                </button>
                <div
                  ngbDropdownMenu
                  class="open-left arrow"
                  aria-labelledby="dropdownBasic1"
                >
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Status
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    SKU
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    SKU Description
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Location
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Category Details
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Freshness
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Lifecycle
                  </button>
                  <button class="dropdown-item">
                    <ui-switch
                      class="switchery"
                      switchColor="white"
                      color="rgb(100, 189, 99)"
                      size="small"
                      checked
                    >
                    </ui-switch>
                    Stage
                  </button>
                </div>
              </div>
              <div class="w-50 d-inline-block text-right">
                <button
                  type="button"
                  class="btn btn-outline-success btn-min-width ml-1"
                  title="Approve"
                >
                  Approve
                </button>
                <button
                  type="button"
                  class="btn btn-outline-danger btn-min-width ml-1"
                  title="Reject"
                >
                  Reject
                </button>
              </div>
            </div>
            <div class="table table-striped table-bordered add-rows">
              <ngx-datatable
                class="bootstrap depth-table"
                [sortType]="'multi'"
                [headerHeight]="50"
                [limit]="7"
                [footerHeight]="40"
                [rowHeight]="40"
                [rows]="rows"
                [columnMode]="'force'"
                [loadingIndicator]="loadingIndicator"
                [selected]="selected"
                [selectionType]="'checkbox'"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <ngx-datatable-column name="Status" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ element.status }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="SKU" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ element.sku }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="SKU Description" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    {{ element.skuDescription }}
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Location" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ element.location }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Category Details" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ element.categoryDetails }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Freshness" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ element.freshness }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Lifecycle" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ element.lifecycle }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Stage" [flexGrow]="1">
                  <ng-template
                    ngx-datatable-cell-template
                    let-rowIndex="rowIndex"
                    *ngfor
                    let
                    element
                    of
                    rows
                  >
                    <span>
                      {{ element.stage }}
                    </span>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </section>
  </div>
</div>
<!-- Modal -->
<!-- 
<ng-template
  class="modal text-left"
  #chartModelContent
  let-c="close"
  let-d="dismiss"
>
  <div class="modal-lg">
    <div class="modal-header">
      <h6 id="myModalLabel23">Review</h6>
      <button
        type="button"
        class="close"
        aria-label="Close"
        (click)="d('Cross click')"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 mb-2">
          <label for="" class="d-inline-block mr-2">View</label>
          <ng-select
            class="d-inline-block w-50"
            [items]="singleSelectArray"
            [searchable]="false"
            bindLabel="item_text"
            aria-placeholder="View"
            placeholder="Select Data"
            [(ngModel)]="singlebasicSelected"
          >
          </ng-select>
        </div>
      </div>
      <div class="lineStackedArea" id="depth-chart">
        <canvas
          height="250"
          baseChart
          class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
        >
        </canvas>
      </div>
    </div>
  </div>
</ng-template> -->
