<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <!-- Revenue, Hit Rate & Deals -->
      <div class="row">
        <div class="col-12 col-md-12 mb-3">
          <div class="card w-50 m-auto">
            <div class="card-header">
              <h4 class="card-title text-center">Pending Decisions</h4>
            </div>
            <div class="card-content collapse show">
              <div class="card-body pt-0">
                <div class="row" *ngIf="dashboarddata !== undefined">
                  <div
                    class="col-md-3 col-6 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4 class="font-large-2 text-bold-400">
                      {{ dashboarddata.pendingDecisions.depth }}
                    </h4>
                    <p class="blue-grey lighten-2 mb-0">Depth</p>
                  </div>

                  <div
                    class="col-md-3 col-6 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4 class="font-large-2 text-bold-400">
                      {{ dashboarddata.pendingDecisions.width }}
                    </h4>
                    <p class="blue-grey lighten-2 mb-0">Width</p>
                  </div>
                  <div
                    class="col-md-3 col-6 border-right-blue-grey border-right-lighten-5 text-center"
                  >
                    <h4 class="font-large-2 text-bold-400">
                      {{ dashboarddata.pendingDecisions.lifecycle }}
                    </h4>
                    <p class="blue-grey lighten-2 mb-0">Lifecycle</p>
                  </div>
                  <div class="col-md-3 col-6 text-center">
                    <h4 class="font-large-2 text-bold-400">
                      {{ dashboarddata.pendingDecisions.ibtt }}
                    </h4>
                    <p class="blue-grey lighten-2 mb-0">IBTT</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="text-center mb-2">
            <button
              title="Depth"
              type="button"
              class="btn btn-outline-secondary btn-min-width mr-1 active"
            >
              Depth
            </button>
            <button
              title="Width"
              type="button"
              class="btn btn-outline-secondary btn-min-width mr-1"
            >
              Width
            </button>
            <button
              type="button"
              title="Lifecycle"
              class="btn btn-outline-secondary btn-min-width mr-1"
            >
              Lifecycle
            </button>
          </div>
        </div>
      </div>
      <!--/ Revenue, Hit Rate & Deals -->

      <!-- Total earning & Recent Sales  -->
      <div class="row">
        <div id="recent-sales" class="col-12 col-md-4">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-1">Current Status</h2>
              <ng-select
                [items]="singleSelectArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="View"
                placeholder="Select data"
                [(ngModel)]="singlebasicSelected"
                (change)="currentStatusDropdwon($event)"
              >
              </ng-select>
            </div>
            <div class="card-content">
              <div
                class="table-responsive"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <table class="table border_bottom table-hover">
                  <thead>
                    <tr>
                      <th scope="col" class="border-top-0"></th>
                      <th scope="col" class="border-top-0">Today</th>
                      <th scope="col" class="border-top-0">Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let currentstatusData of currentstatussummaryDepth
                      "
                    >
                      <td class="text-truncate">
                        <span
                          class="span-blue"
                          [style.backgroundColor]="currentstatusData.colorId"
                        ></span>
                      </td>
                      <td class="text-truncate p-1">
                        {{ currentstatusData.currtoday }}
                      </td>
                      <td class="text-truncate">
                        {{ currentstatusData.currvalue > 0 ? "+" : "" }}
                        {{ currentstatusData.currvalue }}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-8">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">Trends</h2>
            </div>
            <ng-container mCardBody>
              <div class="lineChart" id="trend-chart">
                <canvas
                  baseChart
                  height="290"
                  baseChart
                  class="chart"
                  [datasets]="lineChartsData"
                  [labels]="lineChartsLabels"
                  [options]="lineChartsOptions"
                  [colors]="lineChartsColors"
                  [legend]="lineChartsLegend"
                  [chartType]="lineChartsType"
                ></canvas>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <!--/ Total earning & Recent Sales  -->
      <div class="row mt-2">
        <div class="col-12">
          <div class="text-center mb-2">
            <button
              title="Sales"
              type="button"
              class="btn btn-outline-secondary btn-min-width mr-1 active"
            >
              Sales
            </button>
            <button
              title="Days to Sell"
              type="button"
              class="btn btn-outline-secondary btn-min-width mr-1"
            >
              Days to Sell
            </button>
            <button
              type="button"
              title="Days of Cover"
              class="btn btn-outline-secondary btn-min-width mr-1"
            >
              Days of Cover
            </button>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="recent-sales" class="col-12 col-md-6">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title mb-2">Current Status</h2>
              <ng-select
                [items]="singleSelectArray"
                [searchable]="false"
                bindLabel="item_text"
                aria-placeholder="View"
                placeholder="Select data"
                class="w-50"
                [(ngModel)]="singlebasicSelected"
                (change)="currentStatusDropdwon($event)"
              >
              </ng-select>
            </div>
            <div class="card-content">
              <div
                class="table-responsive"
                fxFlex="auto"
                [perfectScrollbar]="config"
              >
                <table class="table border_bottom table-hover">
                  <thead>
                    <tr>
                      <th>Store</th>
                      <th>Store Code</th>
                      <th>City</th>
                      <th>Channel</th>
                      <th>Sold</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="
                        let currentstatussummaryData of currentstatussummarysales
                      "
                    >
                      <td>{{ currentstatussummaryData.storename }}</td>
                      <td>{{ currentstatussummaryData.storecode }}</td>
                      <td>{{ currentstatussummaryData.city }}</td>
                      <td>{{ currentstatussummaryData.channel }}</td>
                      <td>{{ currentstatussummaryData.sold }}</td>
                    </tr>
                    <!-- <tr>
                      <td>DC Store</td>
                      <td>DCS</td>
                      <td>Bangalore</td>
                      <td>Footwear</td>
                      <td>24001</td>
                    </tr>
                    <tr>
                      <td>DC Store</td>
                      <td>DCS</td>
                      <td>Bangalore</td>
                      <td>Footwear</td>
                      <td>24001</td>
                    </tr>
                    <tr>
                      <td>DC Store</td>
                      <td>DCS</td>
                      <td>Bangalore</td>
                      <td>Footwear</td>
                      <td>24001</td>
                    </tr>
                    <tr>
                      <td>DC Store</td>
                      <td>DCS</td>
                      <td>Bangalore</td>
                      <td>Footwear</td>
                      <td>24001</td>
                    </tr> -->
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="card">
            <div class="card-header">
              <h2 class="card-title">Trends</h2>
            </div>
            <ng-container mCardBody>
              <div class="lineChart" id="sell-chart">
                <canvas
                  baseChart
                  height="300"
                  baseChart
                  class="chart"
                  [datasets]="lineChartsData2"
                  [labels]="lineChartsLabels2"
                  [options]="lineChartsOptions"
                  [colors]="lineChartsColors"
                  [legend]="false"
                  [chartType]="lineChartsType"
                ></canvas>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
