<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <!-- Form wizard with number tabs section start -->
      <section id="number-tabs">
        <div class="row">
          <div class="col-12">
            <m-card>
              <ng-container mCardBody>
                <div class="card-block">
                  <aw-wizard #wizard navBarLayout="large-filled-symbols">
                    <aw-wizard-step
                      [stepTitle]="'Products'"
                      [navigationSymbol]="{ symbol: '1' }"
                    >
                      <form [formGroup]="numberTab" class="mt-3">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="product-tabs">
                                    <ul
                                      class="nav nav-tabs _bottom nav-underline no-hover-bg tabsborder m-0 border-bottom-0"
                                    >
                                      <ngb-tabset class="w-100">
                                        <ngb-tab title="Saved Filters">
                                          <ng-template ngbTabContent>
                                            <div class="mt-3 mb-2">
                                              <div class="d-inline-block mr-1">
                                                <label for=""
                                                  ><b
                                                    >Available Filters :
                                                  </b></label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio1"
                                                  checked
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio1"
                                                  >Luxury Items</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio2"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio2"
                                                  >Top Sellers</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio3"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio3"
                                                  >Best Brands</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio4"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio4"
                                                  >Custom Channels</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio5"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio5"
                                                  >Items</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio6"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio6"
                                                  >Footwear</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio7"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio7"
                                                  >Best Area</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio8"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio8"
                                                  >Trade Channels</label
                                                >
                                              </div>
                                            </div>
                                            <div class="filter_row mb-2">
                                              <ul>
                                                <li class="">
                                                  Luxury:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                              </ul>
                                            </div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Current Filter">
                                          <ng-template ngbTabContent>
                                            <div class="filter_row mt-3 mb-2">
                                              <h5 class="mb-1">
                                                <b>Current Filters :</b>
                                              </h5>
                                              <ul>
                                                <li class="">
                                                  Luxury:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                              </ul>
                                            </div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab title="Choose Filters">
                                          <ng-template ngbTabContent>
                                            <div class="filter_row mt-3 mb-2">
                                              <h5 class="mb-1">
                                                <b>Current Filters :</b>
                                              </h5>
                                              <ul>
                                                <li class="">
                                                  Luxury:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                              </ul>
                                            </div>
                                            <div class="row fliters-tabs mt-3">
                                              <div class="col-12">
                                                <h3 class="mb-2">
                                                  <b>Product Filters</b>
                                                </h3>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Brands</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdBrand"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdBrandData"
                                                      formControlName="pdBrand"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Gender</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdGender"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdGenderData"
                                                      formControlName="pdGender"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Category</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdCategory"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdCtData"
                                                      formControlName="pdCategory"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Sub Category</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="sbCategory"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdSbCtgData"
                                                      formControlName="sbCategory"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Type</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdType"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdTypeData"
                                                      formControlName="pdType"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Last Name</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdLastName"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdltNameData"
                                                      formControlName="pdLastName"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Season</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdSeason"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdSeasonData"
                                                      formControlName="pdSeason"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>MRP</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdMrp"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdMrpData"
                                                      formControlName="pdMrp"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Article Number</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdArtNo"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdArtNoData"
                                                      formControlName="pdArtNo"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row fliters-tabs mt-3">
                                              <div class="col-12">
                                                <h3 class="mb-2">
                                                  <b>Location Filters</b>
                                                </h3>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Channel</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="channel"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="channelData"
                                                      formControlName="channel"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Partners</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="channel"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="partnerData"
                                                      formControlName="partner"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Store Location</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="stLocation"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="stLocationData"
                                                      formControlName="stLocation"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Store Name</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="stName"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="stNameData"
                                                      formControlName="stName"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Brands</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="brand"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="brandData"
                                                      formControlName="brand"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Store Code</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="stCode"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="stCodeData"
                                                      formControlName="stCode"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row mt-1">
                                              <div class="col-md-4">
                                                <div class="input-group">
                                                  <input
                                                    type="text"
                                                    placeholder="Enter Seasonality Name"
                                                    aria-describedby="button-addon4"
                                                    class="form-control"
                                                  />
                                                  <div
                                                    class="input-group-append"
                                                  >
                                                    <button
                                                      type="button"
                                                      class="btn btn-primary"
                                                    >
                                                      Save
                                                    </button>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </ng-template>
                                        </ngb-tab>
                                      </ngb-tabset>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-center space-20">
                          <button
                            uiSref="personal"
                            type="button"
                            class="btn btn-raised btn-secondary mr-1"
                            awPreviousStep
                          >
                            <span style="margin-right: 10px">
                              <i class="feather ft-chevron-left"></i>
                            </span>
                            Previous
                          </button>
                          <button
                            uiSref="address"
                            type="button"
                            class="btn btn-raised btn-primary"
                            awNextStep
                          >
                            Next
                            <span style="margin-left: 10px">
                              <i class="feather ft-chevron-right"></i>
                            </span>
                          </button>
                        </div>
                      </form>
                    </aw-wizard-step>
                    <aw-wizard-step
                      [stepTitle]="'Seasonality Details'"
                      [navigationSymbol]="{ symbol: '2' }"
                    >
                      <form [formGroup]="numberTab" class="mt-3">
                        <div class="container">
                          <div class="row mb-3">
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Seasonality Entry Name</label>
                                <input
                                  type="text"
                                  class="form-control seasonality-input"
                                  placeholder="Name"
                                  style="height: 36px"
                                  id="seasonName"
                                />
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label
                                  >Event Group
                                  <button
                                    (click)="toggle()"
                                    id="bt"
                                    class="add-event-btn"
                                  >
                                    {{ buttonName }}
                                  </button></label
                                >
                                <ng-container *ngIf="!showEvent">
                                  <ng-select
                                    class=""
                                    [items]="eventNameArray"
                                    [searchable]="false"
                                    bindLabel="item_text"
                                    aria-placeholder="View"
                                    placeholder="Select Group"
                                  >
                                  </ng-select>
                                </ng-container>
                                <ng-container *ngIf="showEvent">
                                  <div style="margin: 0 auto; text-align: left">
                                    <fieldset>
                                      <div class="input-group">
                                        <input
                                          type="text"
                                          class="form-control seasonality-input"
                                          placeholder="Enter Event Name"
                                          aria-describedby="button-addon4"
                                        />
                                        <div class="input-group-append">
                                          <button
                                            class="btn btn-primary save-event-btn"
                                            type="button"
                                          >
                                            Save
                                          </button>
                                        </div>
                                      </div>
                                    </fieldset>
                                  </div>
                                </ng-container>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="dp1" class="">From : </label>
                                <dp-date-picker
                                  class="d-block w-100"
                                  style="height: 36px"
                                  [config]="datePickerConfig"
                                  theme="dp-material"
                                  placeholder="DD-MM-YYYY"
                                  (onSelect)="changeMinDateTo($event)"
                                ></dp-date-picker>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label for="dp2" class="">To : </label>
                                <dp-date-picker
                                  class="d-block w-100"
                                  style="height: 36px"
                                  [config]="toDatePickerConfig"
                                  theme="dp-material"
                                  placeholder="DD-MM-YYYY"
                                  *ngIf="toDatePickerConfig['min']"
                                ></dp-date-picker>
                                <dp-date-picker
                                  class="d-block w-100"
                                  style="height: 36px"
                                  [config]="datePickerConfig"
                                  theme="dp-material"
                                  placeholder="DD-MM-YYYY"
                                  *ngIf="!toDatePickerConfig['min']"
                                ></dp-date-picker>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Resize Value</label>
                                <input
                                  type="number"
                                  class="form-control seasonality-input"
                                  placeholder="Enter Value"
                                  style="height: 36px"
                                  id="resizeValue"
                                />
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Resize Update Steps</label>
                                <ng-select
                                  class=""
                                  [items]="resizeUpdateArray"
                                  [searchable]="false"
                                  bindLabel="item_text"
                                  aria-placeholder="View"
                                  placeholder="Select Step"
                                >
                                </ng-select>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Resize Method</label>
                                <ng-select
                                  class=""
                                  [items]="resizeMethodArray"
                                  [searchable]="false"
                                  bindLabel="item_text"
                                  aria-placeholder="View"
                                  placeholder="Select Method"
                                >
                                </ng-select>
                              </div>
                            </div>
                            <div class="col-md-3">
                              <div class="form-group">
                                <label>Recurrence</label>
                                <ng-select
                                  class=""
                                  [items]="recurrenceArray"
                                  [searchable]="false"
                                  bindLabel="item_text"
                                  aria-placeholder="View"
                                  placeholder="Select Recurrence"
                                >
                                </ng-select>
                              </div>
                            </div>
                            <!-- <div class="col-md-3">
                              <div
                                class="collapse-icon accordion-icon-rotate left add-cluster"
                              >
                                <div class="">
                                  <a
                                    data-toggle="collapse"
                                    class="text-primary"
                                    (click)="addNewEvent = !addNewEvent"
                                    [attr.aria-expanded]="addNewEvent"
                                    aria-controls="addNewEvent"
                                    >Save New Event</a
                                  >
                                </div>
                                <div
                                  id="addNewEvent"
                                  [ngbCollapse]="!addNewEvent"
                                >
                                  <fieldset>
                                    <div
                                      class="input-group"
                                      style="margin-top: 5px"
                                    >
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder="Enter Event Name"
                                        aria-describedby="button-addon4"
                                      />
                                      <div class="input-group-append">
                                        <button
                                          class="btn btn-primary"
                                          type="button"
                                        >
                                          Save
                                        </button>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                              </div>
                            </div> -->
                          </div>
                        </div>
                        <div class="form-group text-center space-20">
                          <button
                            uiSref="personal"
                            type="button"
                            class="btn btn-raised btn-secondary mr-1"
                            awPreviousStep
                            (click)="previousFourthStep()"
                          >
                            <span style="margin-right: 10px">
                              <i class="feather ft-chevron-left"></i>
                            </span>
                            Previous
                          </button>
                          <button
                            uiSref="address"
                            type="button"
                            class="btn btn-raised btn-outline-primary"
                            (click)="submit()"
                          >
                            Apply Seasonality
                          </button>
                        </div>
                      </form>
                    </aw-wizard-step>
                  </aw-wizard>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
