<footer
  id="footer"
  class="footer footer-static footer-light navbar-border navbar-shadow"
  *ngIf="showFooter"
>
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
    <span class="float-md-left d-block d-md-inline-block"
      >© Toc-Flow Systems, 2021 • All rights reserved
    </span>
  </p>
</footer>

<footer
  id="footer"
  class="footer fixed-bottom footer-light navbar-border navbar-shadow"
  *ngIf="fixedFooter"
>
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
    <span class="float-md-left d-block d-md-inline-block"
      >© Toc-Flow Systems, 2020 • All rights reserved
    </span>
  </p>
</footer>

<footer
  id="footer"
  class="footer fixed-bottom footer-dark navbar-border navbar-shadow"
  *ngIf="darkFooter"
>
  <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2">
    <span class="float-md-left d-block d-md-inline-block"
      >© Toc-Flow Systems, 2020 • All rights reserved
    </span>
  </p>
</footer>
