<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<div class="app-content content">
  <div class="content-wrapper">
    <div class="content-header row mb-1"></div>
    <div class="content-body">
      <!-- Form wizard with number tabs section start -->
      <section id="number-tabs">
        <div class="row">
          <div class="col-12">
            <m-card>
              <ng-container mCardBody>
                <div class="card-block">
                  <aw-wizard #wizard navBarLayout="large-filled-symbols">
                    <aw-wizard-step
                      [stepTitle]="'Report Type'"
                      [navigationSymbol]="{ symbol: '1' }"
                    >
                      <form [formGroup]="numberTab" class="mt-3">
                        <div class="container column-container">
                          <div class="row">
                            <div class="col-md-12 mb-2">
                              <div class="d-inline-block mr-1">
                                <label for=""><b>Report Data : </b></label>
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="reportRadio"
                                  id="reportRadio1"
                                  checked
                                />
                                <label
                                  class="custom-control-label"
                                  for="reportRadio1"
                                  >Sales</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="reportRadio"
                                  id="reportRadio2"
                                />
                                <label
                                  class="custom-control-label"
                                  for="reportRadio2"
                                  >Days of cover</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="reportRadio"
                                  id="reportRadio3"
                                />
                                <label
                                  class="custom-control-label"
                                  for="reportRadio3"
                                  >Days to sell</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="reportRadio"
                                  id="reportRadio4"
                                />
                                <label
                                  class="custom-control-label"
                                  for="reportRadio4"
                                  >Inventory</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="reportRadio"
                                  id="reportRadio5"
                                />
                                <label
                                  class="custom-control-label"
                                  for="reportRadio5"
                                  >Sell Through</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="reportRadio"
                                  id="reportRadio6"
                                />
                                <label
                                  class="custom-control-label"
                                  for="reportRadio6"
                                  >Out of Stock (OOS)</label
                                >
                              </div>
                            </div>
                            <div class="col-md-12 mb-2">
                              <div class="d-inline-block mr-2">
                                <label for=""><b>Report Size : </b></label>
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="sizeRadio"
                                  id="sizeRadio1"
                                  checked
                                />
                                <label
                                  class="custom-control-label"
                                  for="sizeRadio1"
                                  >All Entries</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="sizeRadio"
                                  id="sizeRadio2"
                                />
                                <label
                                  class="custom-control-label"
                                  for="sizeRadio2"
                                  >Bottom Entries</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <ng-select
                                  class="d-inline-block"
                                  [items]="bottomEntriesArray"
                                  [searchable]="false"
                                  bindLabel="item_text"
                                  aria-placeholder="View"
                                  placeholder="Select Value"
                                >
                                </ng-select>
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <input
                                  type="radio"
                                  class="custom-control-input"
                                  name="sizeRadio"
                                  id="sizeRadio3"
                                />
                                <label
                                  class="custom-control-label"
                                  for="sizeRadio3"
                                  >Top Entries</label
                                >
                              </div>
                              <div
                                class="custom-control custom-radio d-inline-block"
                              >
                                <ng-select
                                  class="d-inline-block"
                                  [items]="bottomEntriesArray"
                                  [searchable]="false"
                                  bindLabel="item_text"
                                  aria-placeholder="View"
                                  placeholder="Select Value"
                                >
                                </ng-select>
                              </div>
                            </div>
                            <div class="col-md-12 mb-2">
                              <hr />
                              <div class="row mt-2">
                                <div class="col-12">
                                  <div class="mb-2">
                                    <label for=""
                                      ><b>Report Timeframe : </b></label
                                    >
                                  </div>
                                </div>
                                <div class="col-md-12">
                                  <form>
                                    <div class="row">
                                      <div class="input-group col-md-4">
                                        <label for="dp1" class="mr-2 date-label"
                                          >From :
                                        </label>
                                        <!-- <input
                                          class="form-control timeframe-input"
                                          placeholder="yyyy-mm-dd"
                                          name="dp"
                                          [(ngModel)]="model"
                                          (dateSelect)="changeMinDateTo($event)"
                                          ngbDatepicker
                                          #d2="ngbDatepicker"
                                          (click)="d2.toggle()"
                                        />
                                        <div class="input-group-append">
                                          <div
                                            class="input-group-text"
                                            (click)="d2.toggle()"
                                          >
                                            <i
                                              class="fa fa-calendar"
                                              style="cursor: pointer"
                                            ></i>
                                          </div>
                                        </div> -->
                                        <dp-date-picker
                                          [config]="datePickerConfig"
                                          theme="dp-material"
                                          placeholder="YYYY-MM-DD"
                                          (onSelect)="changeMinDateTo($event)"
                                        ></dp-date-picker>
                                      </div>
                                      <div class="input-group col-md-4">
                                        <label for="dp1" class="mr-2 date-label"
                                          >To :
                                        </label>
                                        <!-- <input
                                          class="form-control timeframe-input"
                                          placeholder="yyyy-mm-dd"
                                          name="dp1"
                                          ngbDatepicker
                                          #d3="ngbDatepicker"
                                          (click)="d3.toggle()"
                                          [minDate]="minDate"
                                        />
                                        <div class="input-group-append">
                                          <div
                                            class="input-group-text"
                                            (click)="d3.toggle()"
                                          >
                                            <i
                                              class="fa fa-calendar"
                                              style="cursor: pointer"
                                            ></i>
                                          </div>
                                        </div> -->
                                        <dp-date-picker
                                          [config]="toDatePickerConfig"
                                          theme="dp-material"
                                          placeholder="YYYY-MM-DD"
                                          *ngIf="toDatePickerConfig['min']"
                                        ></dp-date-picker>
                                        <dp-date-picker
                                          [config]="datePickerConfig"
                                          theme="dp-material"
                                          placeholder="YYYY-MM-DD"
                                          *ngIf="!toDatePickerConfig['min']"
                                        ></dp-date-picker>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-center">
                          <button
                            type="button"
                            uiSref="work"
                            class="btn btn-primary btn-raised"
                            awNextStep
                          >
                            Next
                            <span style="margin-left: 10px">
                              <i class="feather ft-chevron-right"></i>
                            </span>
                          </button>
                        </div>
                      </form>
                    </aw-wizard-step>
                    <aw-wizard-step
                      [stepTitle]="'Products'"
                      [navigationSymbol]="{ symbol: '2' }"
                    >
                      <form [formGroup]="numberTab" class="mt-3">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-content">
                                  <div class="product-tabs">
                                    <ul
                                      class="nav nav-tabs _bottom nav-underline no-hover-bg tabsborder m-0 border-bottom-0"
                                    >
                                      <ngb-tabset class="w-100">
                                        <ngb-tab title="Saved Filters">
                                          <ng-template ngbTabContent>
                                            <div class="mt-3 mb-2">
                                              <div class="d-inline-block mr-1">
                                                <label for=""
                                                  ><b
                                                    >Available Filters :
                                                  </b></label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio1"
                                                  checked
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio1"
                                                  >Luxury Items</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio2"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio2"
                                                  >Top Sellers</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio3"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio3"
                                                  >Best Brands</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio4"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio4"
                                                  >Custom Channels</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio5"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio5"
                                                  >Items</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio6"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio6"
                                                  >Footwear</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio7"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio7"
                                                  >Best Area</label
                                                >
                                              </div>
                                              <div
                                                class="custom-control custom-radio d-inline-block"
                                              >
                                                <input
                                                  type="radio"
                                                  class="custom-control-input"
                                                  name="availRadio"
                                                  id="availRadio8"
                                                />
                                                <label
                                                  class="custom-control-label"
                                                  for="availRadio8"
                                                  >Trade Channels</label
                                                >
                                              </div>
                                            </div>
                                            <div class="filter_row mb-2">
                                              <ul>
                                                <li class="">
                                                  Luxury:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                              </ul>
                                            </div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle
                                            >Current Filters</ng-template
                                          >
                                          <ng-template ngbTabContent>
                                            <div class="filter_row mt-3 mb-2">
                                              <h5 class="mb-1">
                                                <b>Current Filters :</b>
                                              </h5>
                                              <ul>
                                                <li class="">
                                                  Luxury:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Luxury:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Footwear:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span>Some Channel</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Roush</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Second Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Third Category</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                                <li class="">
                                                  Items:
                                                  <span> Slow Moving</span>
                                                  <span
                                                    class="close_icon"
                                                    title="Remove"
                                                  ></span>
                                                </li>
                                              </ul>
                                            </div>
                                          </ng-template>
                                        </ngb-tab>
                                        <ngb-tab>
                                          <ng-template ngbTabTitle
                                            >Choose Filters</ng-template
                                          >
                                          <ng-template ngbTabContent>
                                            <div class="row fliters-tabs mt-3">
                                              <div class="col-12">
                                                <h3 class="mb-2">
                                                  <b>Product Filters</b>
                                                </h3>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Brands</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdBrand"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdBrandData"
                                                      formControlName="pdBrand"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Gender</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdGender"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdGenderData"
                                                      formControlName="pdGender"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Category</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdCategory"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdCtData"
                                                      formControlName="pdCategory"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Sub Category</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="sbCategory"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdSbCtgData"
                                                      formControlName="sbCategory"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Type</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdType"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdTypeData"
                                                      formControlName="pdType"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Last Name</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdLastName"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdltNameData"
                                                      formControlName="pdLastName"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Season</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdSeason"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdSeasonData"
                                                      formControlName="pdSeason"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>MRP</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdMrp"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdMrpData"
                                                      formControlName="pdMrp"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Article Number</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="pdArtNo"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="pdArtNoData"
                                                      formControlName="pdArtNo"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="row fliters-tabs mt-3">
                                              <div class="col-12">
                                                <h3 class="mb-2">
                                                  <b>Location Filters</b>
                                                </h3>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Channel</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="channel"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="channelData"
                                                      formControlName="channel"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Partners</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="channel"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="partnerData"
                                                      formControlName="partner"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Store Location</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="stLocation"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="stLocationData"
                                                      formControlName="stLocation"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Store Name</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="stName"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="stNameData"
                                                      formControlName="stName"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Brands</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="brand"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="brandData"
                                                      formControlName="brand"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                              <div
                                                class="col-lg-4 col-md-4 col-sm-4 col-6 mb-2"
                                              >
                                                <div>
                                                  <h5 class="mb-1">
                                                    <b>Store Code</b>
                                                  </h5>
                                                  <div class="view-all-filter">
                                                    <ng-multiselect-dropdown
                                                      name="stCode"
                                                      [placeholder]="'View All'"
                                                      [settings]="
                                                        dropdownSettings
                                                      "
                                                      [data]="stCodeData"
                                                      formControlName="stCode"
                                                      [disabled]="disabledD"
                                                      (onSelect)="
                                                        onItemSelect($event)
                                                      "
                                                    >
                                                    </ng-multiselect-dropdown>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </ng-template>
                                        </ngb-tab>
                                      </ngb-tabset>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-center space-20">
                          <button
                            uiSref="personal"
                            type="button"
                            class="btn btn-raised btn-secondary mr-1"
                            awPreviousStep
                          >
                            <span style="margin-right: 10px">
                              <i class="feather ft-chevron-left"></i>
                            </span>
                            Previous
                          </button>
                          <button
                            uiSref="address"
                            type="button"
                            class="btn btn-raised btn-primary"
                            awNextStep
                          >
                            Next
                            <span style="margin-left: 10px">
                              <i class="feather ft-chevron-right"></i>
                            </span>
                          </button>
                        </div>
                      </form>
                    </aw-wizard-step>
                    <aw-wizard-step
                      [stepTitle]="'Data Columns'"
                      [navigationSymbol]="{ symbol: '3' }"
                    >
                      <form [formGroup]="numberTab" class="mt-3">
                        <div class="container column-container">
                          <div class="row mb-3">
                            <div class="col-md-4">
                              <div>
                                <h5 class="mb-1">
                                  <b>Select Columns</b>
                                </h5>
                                <div class="view-all-filter">
                                  <ng-multiselect-dropdown
                                    name="columns"
                                    [placeholder]="'View All'"
                                    [settings]="dropdownSettings"
                                    [data]="columnsData"
                                    formControlName="columns"
                                    (onSelect)="changeColumnData($event)"
                                  >
                                  </ng-multiselect-dropdown>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-2"></div>
                            <div class="col-md-6">
                              <div class="filter_row mb-2">
                                <h5 class="mb-2">
                                  <b>Selected columns</b>
                                </h5>
                                <ul>
                                  <li
                                    *ngFor="
                                      let col of numberTab.value['columns'];
                                      let i = index
                                    "
                                  >
                                    {{ col.item_text }}
                                    <span
                                      class="close_icon"
                                      title="Remove"
                                      (click)="removeColumns(i)"
                                    ></span>
                                  </li>
                                  <!-- <li class="">
                                    New Buffer Size
                                    <span
                                      class="close_icon"
                                      title="Remove"
                                    ></span>
                                  </li>
                                  <li class="">
                                    Buffer Size
                                    <span
                                      class="close_icon"
                                      title="Remove"
                                    ></span>
                                  </li>
                                  <li class="">
                                    SKU
                                    <span
                                      class="close_icon"
                                      title="Remove"
                                    ></span>
                                  </li>
                                  <li class="">
                                    SKU Description
                                    <span
                                      class="close_icon"
                                      title="Remove"
                                    ></span>
                                  </li>
                                  <li class="">
                                    DBM Policy
                                    <span
                                      class="close_icon"
                                      title="Remove"
                                    ></span>
                                  </li> -->
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-center space-20">
                          <button
                            uiSref="personal"
                            type="button"
                            class="btn btn-raised btn-secondary mr-1"
                            awPreviousStep
                            (click)="previousFourthStep()"
                          >
                            <span style="margin-right: 10px">
                              <i class="feather ft-chevron-left"></i>
                            </span>
                            Previous
                          </button>
                          <button
                            uiSref="address"
                            type="button"
                            class="btn btn-raised btn-outline-primary"
                            [disabled]="numberTab.valid"
                            (click)="submit()"
                          >
                            <i class="feather ft-download"></i> Download Report
                          </button>
                        </div>
                      </form>
                    </aw-wizard-step>
                  </aw-wizard>
                </div>
              </ng-container>
            </m-card>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
